body{
    margin: 0;
    background-color: rgb(214, 108, 143);
}
.bar{
    width: 40px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 20px ;
}
.hamburger{
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}
.hamburger:hover .top-fall{
    transform: translateY(10px);
    transition: 1s;
    background-color: rgb(251, 65, 96);
}
.hamburger:hover .bottom-up{
    transform: translateY(-10px);
    transition: 1s;
    background-color:rgb(253, 81, 110);
    transition: 1s;
}
.hamburger:hover .middle-red{
    background-color: rgb(254, 80, 109);
    transition: 1s;
}

.Namuun {
    color: yellow;
    margin-left: 200px;
    opacity: 0  ;
    height: 15px;
    width: 15px;
}

.Dulguun {
    color: yellow;
    margin-left: 200px;
    opacity: 0;
    margin-top: 15px;
}

.Chuka {
    color: yellow; 
    margin-left: 200px;
    opacity: 0;
    margin-top: 15px;
}

.hamburger:hover .Namuun { 
    transform:translateX(-100px); 
    transition-duration: 1s;
    opacity: 1;
}
.hamburger:hover .Dulguun { 
    transform:translateX(-100px); 
    transition-duration: 1.5s;
    opacity: 1;
}
.hamburger:hover .Chuka { 
    transform:translateX(-100px); 
    transition-duration: 2s;
    opacity: 1;

}
.purple{
    height: 100vh;
    width: 350px;
    background-color: rgb(148, 22, 194);
}

.deed1 { 
    background-color: white;
    height: 2px;
    width: 60px;
    transition: width 2s;
    opacity:1;
    position: absolute;
    transition: 1s;
}
.top:hover .deed1{ 
    height: 10px;
    opacity: 0.5;
    
}
.dood1{ 
    background-color: white;
    height: 2px;
    width: 60px;
    transition: width 2s;
    opacity:1;
    position: absolute;
    transition: 1s; 
}

.Namuun:hover .dood1{ 
    height: 10px;
    margin-top: -8.3px;
    opacity: 0.5;
}
.deed2 { 
    background-color: white;
    height: 2px;
    width: 60px;
    transition: width 2s;
    opacity:1;
    position: absolute;
    transition: 1s;
}
.mid:hover .deed2{ 
    height: 10px;
    opacity: 0.5;
}
.dood2{ 
    background-color: white;
    height: 2px;
    width: 60px;
    transition: width 2s;
    opacity:1;
    position: absolute;
    transition: 1s; 
}

.Dulguun:hover .dood2{ 
    height: 10px;
    margin-top: -8.3px;
    opacity: 0.5;
}
.deed3 { 
    background-color: white;
    height: 2px;
    width: 60px;
    transition: width 2s;
    opacity:1;
    position: absolute;
    transition: 1s;
}
.bottom:hover .deed3{ 
    height: 10px;
    opacity: 0.5;
}
.dood3{ 
    background-color: white;
    height: 2px;
    width: 60px;
    transition: width 2s;
    opacity:1;
    position: absolute;
    transition: 1s; 
}

.Chuka:hover .dood3{ 
    height: 10px;
    margin-top: -8.3px;
    opacity: 0.5;
}
